<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <menuitem id="menu_real_estate_root"
              name="RE"
              />
    <menuitem id="menu_property"
              name="Property"
              parent="menu_real_estate_root"
    />
    <menuitem id="menu_properties"
              name="Properties"
              parent="menu_real_estate_root"
              action="action_real_properties"
    />
        <menuitem id="menu_customer"
              name="Customers"
              parent="menu_properties"
              action="action_real_customer"
    />

</odoo>